@font-face {
	font-family: impact2;
	font-display: swap;
	src: url("../fonts/impact2.woff2") format("woff2"), url("../fonts/impact2.woff") format("woff")
	font-weight: 400;
	font-style: normal; 
}
@font-face {
	font-family: NeutralFace;
	font-display: swap;
	src: url("../fonts/NeutralFace.woff2") format("woff2"), url("../fonts/NeutralFace.woff") format("woff")
	font-weight: 400;
	font-style: normal; 
}
@font-face {
	font-family: NeutralFace;
	font-display: swap;
	src: url("../fonts/NeutralFace-Bold.woff2") format("woff2"), url("../fonts/NeutralFace-Bold.woff") format("woff")
	font-weight: 700;
	font-style: normal; 
}
