body{
    // background: url("@img/cover.jpg") 0 0 no-repeat;
    background-color: #000;
    span {
        color: green;
    }
    
}

@media (max-width: 768px) {
    span {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    span {
        background-color: green;
    }
}